__pycache__/
results/permutations.npy
results/random_maps/sphere/length_1/*
results/random_maps/sphere/length_10/*
results/random_maps/sphere/length_20/*
results/random_maps/sphere/length_30/*
results/random_maps/sphere/length_40/*
results/random_maps/sphere/length_50/*
results/random_maps/pial/length_1/*
results/random_maps/pial/length_10/*
results/random_maps/pial/length_20/*
results/random_maps/pial/length_30/*
results/random_maps/pial/length_40/*
results/random_maps/pial/length_50/*
results/original_vs_rotated_r/*
!results/random_maps/sphere/length_1/.gitkeep
!results/random_maps/sphere/length_10/.gitkeep
!results/random_maps/sphere/length_20/.gitkeep
!results/random_maps/sphere/length_30/.gitkeep
!results/random_maps/sphere/length_40/.gitkeep
!results/random_maps/sphere/length_50/.gitkeep
!results/random_maps/pial/length_1/.gitkeep
!results/random_maps/pial/length_10/.gitkeep
!results/random_maps/pial/length_20/.gitkeep
!results/random_maps/pial/length_30/.gitkeep
!results/random_maps/pial/length_40/.gitkeep
!results/random_maps/pial/length_50/.gitkeep
!results/original_vs_rotated_r/.gitkeep